@import 'tailwindcss';

dialog,
dialog:focus {
  @apply outline-0;
}

.menu {
  @apply fixed m-0 p-2 transform-none border-0 rounded-md shadow-lg bg-gray-100;
}

.menu::backdrop {
  background-color: transparent;
}

.menu-option {
  @apply px-2 py-1 rounded-md hover:bg-gray-200;
  cursor: pointer;
  transition: all 0.3s;
}

.menu hr {
  @apply my-1 border-t border-gray-300;
}
