@import 'tailwindcss';

/* themes */
:root {
  --primary: #2da191;
  --primary-light: #3dc7a5;
  --primary-light-trans: #3dc7a446;
  --primary-dark: #0d546a;
  --primary-dark-light: #267e99;
  --secondary: #6c757d;
  --secondary-light: #869099;
  --danger: #dc3435;
  --danger-light: #ec4f4f;
  --dark: #212529;
  --warning: #ffc107;
  --light: #f8f9fa;
  --muted: #737b84;
  --darken-gradient: linear-gradient(135deg, #ffffff00 0%, #0000005c 100%);
  --primary-gradient: linear-gradient(135deg, #0d546a 0%, #3dc7a5 100%);
  --warning-gradient: linear-gradient(135deg, #ffc107 0%, #ff9800 100%);
  --danger-gradient: linear-gradient(135deg, #ff6b6b 0%, #dc3435 100%);
  --header-padding: 8px 14px 10px 14px;

  /* Ext */
  --transition-duration: 0.3s;

  /* App params */
  --app-width: 380px;
  --border-radius: 8px;
  --font-size-big: 15px;
  --font-size-normal: 14px;
  --font-size-small: 12px;
}

.btn {
  font-size: var(--font-size-normal);
  padding: 4px 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background: var(--primary);
  color: var(--light);
  transition: background-color 0.3s;
}

.btn:hover {
  background: var(--primary-light);
}

.btn-primary-dark {
  background: var(--primary-dark);
}

.btn-primary-dark:hover {
  background: var(--primary-dark-light);
}

.btn-secondary {
  background: var(--secondary);
}

.btn-secondary:hover {
  background: var(--secondary-light);
}

.btn-danger {
  background: var(--danger);
}

.btn-danger:hover {
  background: var(--danger-light);
}

.btn-trans {
  @apply text-shadow-lg/10;
  background: #ffffff1c;
}

.btn-trans:hover {
  background: #ffffff36;
}

.btn-small {
  background: none;
  border: none;
  color: #666;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: var(--font-size-small);
}

.btn-small:hover {
  background: #e9ecef;
}

.btn-text {
  font-size: var(--font-size-normal);
  padding: 8px 8px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s;
  filter: drop-shadow(0 0 0px rgba(255, 255, 255, 0.8));
}

.btn-text:hover {
  background-color: transparent;
  filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.8));
}

.icon-btn {
  width: 24px;
  height: 24px;
  padding: 5px;
  border-radius: 4px;
  background-color: transparent;
  transition: background-color 0.3s;
}

.icon-btn:hover {
  background-color: var(--light);
}

.icon-btn:active {
  background-color: var(--light);
  opacity: 0.9;
}
